<%= yield %>
<h3>Ex.mo Sr./Sr.ª,</h3>
<br>
Temo os prazer de o convidadar a fazer parte do PeerToPeer.
<br><br>
Siga o link abaixo para realizar o registo:
<br><br>
<%= @url %>
<br><br>
Com os melhores cumprimentos,
<br><br><br>
José Brito Alves<br>
Director de Markeeting e Comunicação<br>
PeerToPeer, S.A.<br>
