<div class="heading">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
        <div class="w-container navbar_container"><a href="#" class="w-nav-brand logo">
            <div class="logo">Peer to Peer <span class="logo_lending">Lending</span>
            </div></a>
            <nav role="navigation" class="w-nav-menu">
                <a href="#" class="w-nav-link navbar_link">Home</a>
                <a href="#" class="w-nav-link navbar_link">Acerca</a>
                <a href="#" class="w-nav-link navbar_link">Contactos</a>
                <a class="navbar_user">
                    <% if not(current_user.nil?)  %>
                        <%= current_user.email %>
                    <% end %>
                </a>
            </nav>
        </div>
    </div>

</div>
