<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>PeerToPeer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body><div class="w-section head_section">
<div class="heading">
    <div></div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
        <a href="/users/sign_in" class="w-button button_login">login</a>
        <div class="w-container navbar_container"><a href="#" class="w-nav-brand logo">
            <div class="logo">Peer to Peer <span class="logo_lending">Lending</span></div></a>
                <nav role="navigation" class="w-nav-menu">
                    <a href="#" class="w-nav-link navbar_link">Home</a>
                    <a href="#" class="w-nav-link navbar_link">Acerca</a>
                    <a href="#" class="w-nav-link navbar_link">Contactos</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="head_section_text">O <span data-new-link="true">
        <strong>Peer to Peer <em>Lending</em></strong></span> é uma plataforma inovadora &nbsp;que permite juntar empreendedores e investidores, possibilitando elevados retorno e baixos custo de financiamento.</div>
</div>
<div class="w-section advantages_section">
    <div class="w-row">
        <div class="w-col w-col-1"></div>
        <div class="w-col w-col-4">
            <div class="advantages_div">
                <a href="#" class="w-button advantages_button">Rentabilize o Seu Dinheiro</a>
                <div class="advantages_line"></div>
                <div class="w-richtext advantages_text_box"><p>Obtenha rentabilidades interessantes para os seus os investimentos, com risco controlado.</p>
                <ul>
                    <li>Taxa de juro superiores </li>
                    <li>Apoie as empresas portuguesas </li>
                    <li>Processo simples</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="w-col w-col-1"></div>
        <div class="w-col w-col-1"></div>
        <div class="w-col w-col-4">
        <div class="advantages_div">
            <a href="#" class="w-button advantages_button">Financie os Seus Projectos</a>
            <div class="advantages_line"></div>
            <div class="w-richtext advantages_text_box">
                <p>Obtenha o capital que necessita para dinamizar a sua actividade, de forma simples e com baixo custo</p>
                <ul><li>Empréstimos de €5.000 a €200.000</li>
                <li>Períodos até 5 ano</li>
                <li>Juros tipicamente muito abaixo das alternativas</li>
                <li>Sem burocracias</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-col w-col-1"></div>
    </div></div>
    <div class="w-section"></div>
    <div class="w-section"></div>
    <div class="w-section"></div>

</body></html>